*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fixbutton{
    width: 100px;
    height: 50px;
    border: solid green 2px;
    position: fixed;
    right: 30px;
    top:30px;
    text-align: center;
    background-color: rgb(94, 246, 107);
    font-size: 14px;
    padding: 7.5px;
}


