* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    margin: 10px;
}

.wrap {
    overflow: auto;
    height: 600px;
    width: fit-content;
}

a {
    margin-bottom: 15px;
    display: block;
}