*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.container{
    background-image: url(../images/Фон\ для\ div.png);
    background-position: left top;
    background-repeat: repeat-y;
    overflow: hidden;
}

.header{
    text-align: center;
    padding: 20px;
    background-color: rgb(173,216,230);
    font-size: 18px;
    color: blue;
}

.menu{
    float: left;
    width: 190px;
    padding-left: 5px;
    padding-top: 15px;
    font-size: 14px;
    
}

div.content > h3 {
    text-align: center;
    padding: 15px;
    font-size: 18px;
}

.content{
   margin-left: 210px;
   font-size: 14px;
   padding: 0px 20px 20px 20px;
   background-image: url(../images/ball.gif);
   background-position: right top;
   background-repeat: repeat-y;
   /* overflow: hidden; */
}

.footer{
    text-align: center;
    padding: 20px;
    background-color: rgb(173,216,230);
    font-size: 18px;
    color: blue;
}

.imgcup{
    width: 200px;
    float: left;
    margin: 0px 20px 15px 0px;
}